{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'Loginify/signup.css' %}">
</head>
<body>
    <div class="signup-container">
        <form method="post">
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li style="color: red;">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            {% csrf_token %}
            <h2>Signup</h2>
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <button type="submit">Signup</button>
            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}
        </form>
    </div>
</body>
</html>
